#content {
    position:relative;
    width:640px;
    height:480px;
    border: 1px solid black;
}
#paused, #intro, #gameover {
    position:absolute;left:0px;top:0px;
    text-align:center;
    width:640px;
    height:480px;
    background-color:rgba(255,255,255,0.5);
    z-index:1;
}
svg {
    position:absolute;left:0px;top:0px;
}
#fullhealth {
    background: red;
    background: -webkit-gradient(linear, left top, right top, from(#b00), to(#f44));
    background: -moz-linear-gradient(left, #b00,f44);

    border:1px solid #800;
    border-radius:4px;
    width:640px;
    height:1em;
}
#healthgone {
    float:right;
    height:1em;
    background: black;
}
#living, #nonliving {
    position:absolute;left:0px;top:0px;
    width:640px;
    height:480px;
}
#living {
    background: #400;
}
#nonliving {
    background: #ccf;
}
