#content {
    position:relative;
    width:640px;
    height:480px;
    border: 1px solid black;
}
#fps {
}
#paused, #intro {
    position:absolute;left:0px;top:0px;
    text-align:center;
    width:640px;
    height:480px;
    background-color:rgba(255,255,255,0.5);
    z-index:1;
}
svg {
    position:absolute;left:0px;top:0px;
}

